InstrumentMessagesHandlerTests/Service References/QCEvaluationServiceReference/QCEvaluationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QCEvaluationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1813/QCEvaluationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1813/QCEvaluationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1813/QCEvaluationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QCEvaluation.WCFService" />
      <xsd:import schemaLocation="http://localhost:1813/QCEvaluationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServices.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQCEvaluationService_CreateStandardDeviationRule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStandardDeviationRule" />
  </wsdl:message>
  <wsdl:message name="IQCEvaluationService_CreateStandardDeviationRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStandardDeviationRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IQCEvaluationService_NotifyApplicationInstalled_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyApplicationInstalled" />
  </wsdl:message>
  <wsdl:message name="IQCEvaluationService_NotifyApplicationInstalled_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyApplicationInstalledResponse" />
  </wsdl:message>
  <wsdl:portType name="IQCEvaluationService">
    <wsdl:operation name="CreateStandardDeviationRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCEvaluationService/CreateStandardDeviationRule" message="tns:IQCEvaluationService_CreateStandardDeviationRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCEvaluationService/CreateStandardDeviationRuleResponse" message="tns:IQCEvaluationService_CreateStandardDeviationRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyApplicationInstalled">
      <wsdl:input wsaw:Action="http://tempuri.org/IQCEvaluationService/NotifyApplicationInstalled" message="tns:IQCEvaluationService_NotifyApplicationInstalled_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQCEvaluationService/NotifyApplicationInstalledResponse" message="tns:IQCEvaluationService_NotifyApplicationInstalled_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQCEvaluationService" type="tns:IQCEvaluationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStandardDeviationRule">
      <soap:operation soapAction="http://tempuri.org/IQCEvaluationService/CreateStandardDeviationRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyApplicationInstalled">
      <soap:operation soapAction="http://tempuri.org/IQCEvaluationService/NotifyApplicationInstalled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QCEvaluationService">
    <wsdl:port name="BasicHttpBinding_IQCEvaluationService" binding="tns:BasicHttpBinding_IQCEvaluationService">
      <soap:address location="http://localhost:1813/QCEvaluationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>