InstrumentMessagesHandlerTests/Service References/QCEvaluationServicesReference/QCEvaluationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Application.Payloads" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Application.Payloads" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StandardDeviationRulePayload">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfControls" type="xs:int" />
      <xs:element minOccurs="0" name="StandardDeviationLimit" type="xs:int" />
      <xs:element minOccurs="0" name="WithinControl" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardDeviationRulePayload" nillable="true" type="tns:StandardDeviationRulePayload" />
</xs:schema>