InstrumentMessagesHandlerTests/Service References/QCEvaluationServicesReference/QCEvaluationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48560/QCEvaluationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QCEvaluation.WCFService" />
  <xs:element name="CreateStandardDeviationRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QCEvaluation.WCFService" minOccurs="0" name="request" nillable="true" type="q1:CreateStandardDeviationRuleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStandardDeviationRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QCEvaluation.WCFService" minOccurs="0" name="CreateStandardDeviationRuleResult" nillable="true" type="q2:CreateStandardDeviationRuleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardDeviationRuleByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardDeviationRuleByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QCEvaluation.WCFService" minOccurs="0" name="GetStandardDeviationRuleByNameResult" nillable="true" type="q3:GetStandardDeviationRuleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>