InstrumentMessagesHandlerTests/Service References/LabConfigurationServicesReference/LabConfigurationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfirmApplicationInstallationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationTestCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmApplicationInstallationRequest" nillable="true" type="tns:ConfirmApplicationInstallationRequest" />
  <xs:complexType name="ConfirmApplicationInstallationResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ConfirmApplicationInstallationResponse" nillable="true" type="tns:ConfirmApplicationInstallationResponse" />
</xs:schema>