QCRoutine.Adapter/Service References/QCRoutineServiceReference/QCRoutineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QCRoutine.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QCRoutine.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1815/QCRoutineService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServices.Common" />
  <xs:complexType name="QCResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeasuredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Result" type="xs:double" />
      <xs:element minOccurs="0" name="TestCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QCResult" nillable="true" type="tns:QCResult" />
  <xs:complexType name="StoreQCResultResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices.Common" minOccurs="0" name="Status" type="q1:RequestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreQCResultResponse" nillable="true" type="tns:StoreQCResultResponse" />
</xs:schema>