QCRoutine.Adapters/Service References/LabConfigurationServiceReference/LabConfigurationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1814/LabConfigurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" />
  <xs:element name="ConfirmApplicationInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" minOccurs="0" name="request" nillable="true" type="q1:ConfirmApplicationInstallationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmApplicationInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" minOccurs="0" name="ConfirmApplicationInstallationResult" nillable="true" type="q2:ConfirmApplicationInstallationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationByTestCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationByTestCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LabConfiguration.WCFService" minOccurs="0" name="GetApplicationByTestCodeResult" nillable="true" type="q3:GetApplicationByTestCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>